html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 800px;
    position: relative;
}

.country {
    fill: transparent;
    stroke-dasharray: 1, 3;
    stroke-linejoin: miter;
    stroke: #777;
}

.no-relief {
    fill: transparent;
    stroke-dasharray: 1, 3;
    stroke-linejoin: miter;
    stroke: #777;
}


/* CYN, PSX */

.no-relief.BHR,
.no-relief.QAT,
.no-relief.KWT,
.no-relief.ARE,
.no-relief.SAU,
.no-relief.SYR,
.no-relief.IRQ,
.no-relief.IRN,
.no-relief.AFG,
.no-relief.JOR,
.no-relief.OMN,
.no-relief.YEM,
.no-relief.PSX {
    fill: #e9e0cc;
    stroke-dasharray: 1, 3;
    stroke-linejoin: miter;
    stroke: #999;
}

.country.BHR,
.country.QAT,
.country.KWT,
.country.ARE,
.country.SAU,
.country.SYR,
.country.IRQ,
.country.IRN,
.country.AFG,
.country.JOR,
.country.OMN,
.country.YEM,
.country.PSX {
    fill: transparent;
    stroke-dasharray: 1, 3;
    stroke-linejoin: miter;
    stroke: #ddd;
}

.point {
    fill: rgb(87, 72, 50);
}

.battle-label {
    font-size: 14px;
}


/* dom elements */

.btn-container {
    position: absolute;
    top: 30px;
    right: 50px;
}

.btn-container button {
    color: #333;
    background: transparent;
    border: 1px solid #333;
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    outline: none;
}

.btn-container button:hover,
.btn-container button:active,
.btn-container button:focus {
    background: #333;
    border: 1px solid #333;
    color: #fff;
    outline: none;
}

.another {
    z-index: 5;
    float: right;
    right: 0;
    width: 0;
    height: 100%;
    position: fixed;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgba(255, 255, 255, 1);
    border-left: 1px solid #999;
}

.menuBtn {
    z-index: 6;
    position: fixed;
    right: 0;
    top: 25px;
    cursor: pointer;
    transition: 0.5s;
    background: rgba(255, 255, 255, 1);
    padding: 5px 20px 7px 10px;
    border: 1px solid #999;
    border-right: none;
    -webkit-border-radius: 30px 0 0 30px;
    border-radius: 30px 0 0 30px;
}

.svg-container {
    position: relative;
    float: left;
    width: 50%;
}

.new-container {
    z-index: 1;
    position: absolute;
    float: left;
    width: 50%;
}

.scale-container {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 400px;
    width: 700px;
}

.slider-container {
    position: absolute;
    right: 105px;
    top: 120px;
}

.slider-container #slider {
    height: 200px;
}


/* Slider override */

.noUi-vertical {
    font-size: 14px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 10px;
    left: -6px;
    top: -4px;
    outline: none;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    display: none;
}

.noUi-connect {
    background: #e9e0cc;
}

.noUi-tooltip {
    border: none;
    background: transparent;
    color: #333;
    padding: 0 5px;
}

.rivers {
    display: none;
    fill: none;
    stroke-width: 1;
    stroke: rgba(0, 114, 201, 0.4);
}

#relief {
    display: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.overlay {
    position: absolute;
    width: 1100px;
    height: 770px;
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 1) 100%), -moz-linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 1) 100%), -webkit-linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 1) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
}