@font-face {
    font-family: DosisLight;
    src: url("../fonts/Dosis/Dosis-Light.ttf");
}

@font-face {
    font-family: OpenSans;
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    /* min-height: 800px; */
    position: relative;
    font-family: DosisLight, 'Dosis', sans-serif;
}

button:focus {
    outline: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
b {
    font-family: 'Open Sans', sans-serif;
}

p,
a {
    font-family: DosisLight, 'Dosis', sans-serif;
}

p {
    display: inline-block;
}

hr {
    width: 100%;
}

#map {
    width: 75%;
    height: 75%;
    float: left;
    /* cursor: pointer; */
}

.labels {
    display: none;
    font-family: OpenSans, 'Open Sans', sans-serif;
}

.extra-container {
    position: absolute;
    right: 0;
    width: 25%;
    height: 100%;
    float: right;
    /* background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 10%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 10%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 10%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); */
}

.controls {
    position: absolute;
    left: 0;
    top: 40px;
    padding: 0 11px;
}

.controls .cb,
.extra-container .controls .cb:active,
.extra-container .controls .cb:focus {
    outline: none;
}

.controls h3 {
    display: block;
    margin: 10px 0 5px;
}

.controls .cbcircle {
    display: inline-block;
    width: 7px;
    height: 7px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1px solid #fff;
}

.controls .cbcircle.nqcircle {
    background: black;
}

.controls .cbcircle.kencircle {
    background: #008eff;
}

.extra-container .textbox {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    /* height: 100%; */
    padding: 15px 25px;
}

.extra-container .textbox a {
    font-size: 10px;
}

.extra-container .textbox h2 {
    margin: 0;
}

.extra-container .textbox p {
    margin: 5px 0 15px;
}

.extra-container .graph {
    /* display: none; */
    position: absolute;
    bottom: 1%;
    width: 100%;
    height: 60%;
}

span.tooltip {
    max-width: 200px;
    color: #000;
    display: inline-block;
    position: absolute;
    text-align: center;
    padding: 6px 12px;
    font: 12px sans-serif;
    background: rgba(255, 255, 255, 0.6);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

span.tooltip p {
    margin: 5px;
}

.circle-img {
    width: 100%;
}

.battles,
.battles svg {
    position: absolute;
}

.battles svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
    /* pointer-events: all; */
}

.battles .circleNQ {
    /* fill: #000; */
    /* stroke: #fff; */
    /* stroke-width: 1px; */
}

.battles .grey {
    fill: rgba(255, 255, 255, 0.2);
}

.battles .circleK {
    /* fill: #008eff; */
    /* stroke: #fff; */
    /* stroke-width: 1px; */
}


/* circle:hover,
.circleK:hover {
    cursor: pointer;
} */

.marker:hover {
    /* cursor: pointer; */
}

circle:hover {
    /* cursor: pointer; */
    /* fill: gold; */
}

.gm-style-cc {
    display: none;
}


/* Beeswarm */

.beeswarm-container {
    position: absolute;
    bottom: 0%;
    width: 75%;
    height: 25%;
    padding: 0 10px;
}

#beeswarm {
    width: 100%;
    height: 60%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    font: 10px sans-serif;
}

.cells path {
    fill: none;
    pointer-events: all;
}

.cells :hover .bcircle {
    fill: red;
}


/* NoUISLider override */

.noUi-target {
    background: #fff;
    border-radius: 0;
    border: 1px solid #c5c5c5;
    box-shadow: none;
}

.noUi-horizontal {
    font-size: 14px;
    margin: 0 10px;
    height: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 15px;
    top: -4px;
    outline: none;
}

.noUi-horizontal .noUi-handle:before,
.noUi-horizontal .noUi-handle:after {
    display: none;
}

.noUi-connect {
    background: #ebebeb;
}

.noUi-tooltip {
    border: none;
    background: transparent;
    color: #333;
    padding: 0 5px;
}

.noUi-pips {
    color: #000;
    font-size: 12px;
}

.noUi-pips-horizontal {
    height: 10px;
}

.noUi-value-horizontal {
    -webkit-transform: translate(-50%, 100%);
    transform: translate(-50%, 100%);
}

.noUi-marker-horizontal.noUi-marker {
    margin-left: 0;
    width: 1px;
}

.noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
    background: #000;
}

.noUi-value-sub {
    color: #000;
    font-size: 12px;
}

.noUi-marker-horizontal.noUi-marker-large {
    height: 10px;
    background: #000;
}

.map-overlay {
    position: absolute;
    width: 75%;
    height: 75%;
    float: left;
    z-index: 1;
    display: none;
}

#animPlayBtn {
    position: absolute;
    top: 10px;
}


/* .battleForm {
    padding: 10px;
}

.battleForm .con {
    display: inline-block;
}

.input-div {
    display: inline;
}

.input-div input,
.input-div label {
    display: block;
}

.input-div label {
    margin: 5px 0;
} */

.form-body .inside-form {
    z-index: -5;
}

.form-body {
    background: url("../img/mosaic.png") no-repeat bottom center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
}

.form-body .form-container {
    margin-top: 100px;
    padding: 50px;
    background: #fff;
    min-height: 100%;
    box-shadow: 0px 0px 6px 1px #9e9e9e;
}

#date {
    margin-right: 10px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.form-body input::placeholder,
.form-body textarea::placeholder {
    /* Most modern browsers support this now. */
    color: rgb(204, 204, 204);
}

.form-body .tab-pane {
    padding: 20px 0;
}

#battles-list .collapse-btn {
    border: none;
    margin-left: 10px;
    outline: none;
}

#battles-list .icons-btn {
    border: none;
    /* margin-left: 10px; */
    outline: none;
}

#battles-list .collapse-btn:focus,
#battles-list .collapse-btn:active,
#battles-list .icons-btn:active,
#battles-list .icons-btn:focus {
    outline: none!important;
    box-shadow: none!important;
}

.card-body {
    padding: 1.25rem 1.25rem 0;
}

.upload-container {
    margin-bottom: 20px;
}

.modal-dialog {
    min-width: 50%;
}

.add-more-container {
    width: 100%;
    display: flex;
}

.add-more-container .add-more-text {
    flex: none;
    margin: auto 10px;
}

.add-more-container .add-more-icon {
    margin: auto;
}

.add-more-container .add-more-icon:hover,
.add-more-container .add-more-icon:active,
.add-more-container .add-more-icon:focus,
.add-more-container .add-more-icon:hover path,
.add-more-container .add-more-icon:active path,
.add-more-container .add-more-icon:focus path {
    cursor: pointer;
    fill: #999;
}

.inside-wrapper {
    display: contents;
}

.inside-wrapper .col-md-12,
.inside-wrapper .col-md-5,
.inside-wrapper .col-md-2 {
    padding-left: 5px;
    padding-right: 5px;
}

.inside-wrapper .remove-btn {
    color: #e43b3b;
}

.inside-wrapper .remove-btn:hover,
.inside-wrapper .remove-btn:active,
.inside-wrapper .remove-btn:focus {
    cursor: pointer;
    text-decoration: underline;
}

.inside-wrapper .file-old-name {
    display: block;
    margin: 0;
    font-size: 12px;
    color: #f00;
}