# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Trashes

# Application specific files
venv
node_modules
.sass-cache

# Other files
tmp
.htaccess
pdf/
